<!--Connect header partial. Note formatting!-->
<% include partials/header %>

<h1>Landing page</h1>

<p>Welcome to Yelp Camp!</p>

<a href="/campgrounds">View all campgrounds</a>

<!--Connect footer partial. Note formatting!-->
<% include partials/footer %>
